<div class="default-block block-bg" xmlns="http://www.w3.org/1999/html">
    <div class="auth-block" style="height: 300px; width: 460px">
      <br><br><br><br><br>
      <p class="not-found-text">404</p>
      <br><br><br>
      <p class="not-found-text-ps ">Страница не найдена. Вернёмся?</p>
      <div class="button-cent" style="padding-top: 15px">
        <button mat-raised-button color="primary"
                style="width: 200px; height: 40px;"
                (click)="goHome()"
        >Вернуться</button>
      </div>
    </div>
</div>
