<div class="card-menu" [class.drinks-height]="!check" [class.pizza-height]="check">
  <p class="title">{{product.name}}</p>

  <div style="text-align: center;">
    <img src="{{product.image}}" alt="">
  </div>

  <div *ngIf="product.productType == 'PIZZA'"
    style="height: 90px">
    <span class="description">
      Состав:
    </span>
    <br>
    <span class="description">
    {{product.description}}
    </span>
  </div>

  <div style="line-height: 36px;" >
    <mat-button-toggle-group [formControl]="radioGroup" name="fontStyle" aria-label="Font Style" class="radio-family">
      <mat-button-toggle class="radio" value="1">{{product.price_1}} р - {{firstText}}</mat-button-toggle>
      <mat-button-toggle class="radio" value="2">{{product.price_2}} р - {{secondText}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

   <div style="">
    <button mat-raised-button color="primary"
            style="width: 430px; height: 48px; position: center"
            (click)="bay()"
    >В корзину</button>
  </div>

</div>
