<div class="center" *ngIf=!loading>
  <mat-spinner></mat-spinner>
</div>


<div *ngIf=loading class="default-block block-bg">
  <div class="auth-block" style="width: 460px; height: 350px;">
    <p class="heading"> Авторизация </p>
    <form class="form-auth">

      <mat-form-field class="example-full-width form-auth-fields" appearance="fill">
        <mat-label style=""> Номер телефона </mat-label>
        <input matInput
               type="tel"
               placeholder="999-999-99-99">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Введите номер телефона</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width form-auth-fields" appearance="fill">
        <mat-label style=""> Пароль </mat-label>
        <input matInput
               required
               [type]="hide ? 'password' : 'text'">
        <mat-hint>Введите пароль</mat-hint>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="button-cent" style="padding-top: 40px">
        <button mat-raised-button color="primary"
                class="auth"
        >Войти</button>

        <button mat-raised-button color="primary"
                class="auth"
                (click)="goRegistration()"
        >У Вас нет аккаунта?</button>
      </div>
    </form>
  </div>

  <div class="button-circle-home ">
    <button mat-fab
            color="primary"
            aria-label="Example icon button with a home icon"
            (click)="goHome()">
      <mat-icon>home</mat-icon>
    </button>
  </div>

</div>
