@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.card {
  padding: 30px;
  margin: 50px 7% 50px 7%;

  min-height: 40px;

  background: white;

  border-radius: 25px;

  -webkit-box-shadow: 0 3px 34px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 34px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 34px 7px rgba(0, 0, 0, 0.2);

}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center
}
