<app-header></app-header>
<div class="block-bg-h" style="min-height: 100%">
<!--  <input type="file" name="photo" multiple accept="image/*,image/jpeg">-->
  <input style="display: none" type="file" name="photo" id="photo" accept="image/*,image/jpeg"
         #input
         (change)="OnFileUpload($event)">

  <div class="card">
    <form action="">
      <div class="block">
        <img src="{{imgSrc}}" alt="">
        <div style="margin-left: 52px; margin-top: 10px; float: top;">

          <button mat-raised-button color="primary"
                  type="button"
                  class="button-size"
                  (click)="loadPhoto()"
          >Загрузить фото</button>
        </div>
      </div>
    </form>

    <div style="float: left">

      <div>
        <div class="text">
          <span>{{user?.fullName}}, телефон: {{user?.phoneNumber}}</span>
        </div>
      </div>

      <div style="float: top">
        <div class="block">
          <div style="float: left">
            <form [formGroup]="formFullName"
                  name="form"
                  style="width: 500px; float: left; margin-right: 90px">
              <mat-form-field class="example-full-width form-auth-fields" appearance="fill">
                <mat-label style="">Имя</mat-label>
                <input matInput
                       name="fullName"
                       formControlName="fullName"
                       type="text"
                       required
                       placeholder="">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-hint>Введите новое имя, если хотите его изменить</mat-hint>
              </mat-form-field>

              <div class="button-change">
                <button mat-raised-button color="primary"
                        type="button"
                        class="button-size"
                        (click)="changeFullName()"
                >Сохранить изменения</button>
              </div>
            </form>
          </div>

          <div >
            <form [formGroup]="formPhoneNumber"
                  name="form"
                  style="width: 500px; float: left; margin-right: 90px">
              <mat-form-field
                class="example-full-width form-auth-fields"
                appearance="fill">
                <mat-label style=""> Номер телефона </mat-label>
                <input matInput
                       class="input-number"
                       name="tel"
                       id="tel"
                       type="tel"
                       formControlName="phoneNumber"
                       placeholder="999-999-99-99">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>Введите новый номер телефона, если хотите его изменить</mat-hint>
              </mat-form-field>
              <div class="button-change">
                <button mat-raised-button color="primary"
                        type="button"
                        class="button-size"
                        (click)="changePhoneNumber()"
                >Сохранить изменения</button>
              </div>
            </form>
          </div>
        </div>
        <div class="block">
          <form [formGroup]="formPass"
                name="formPass"
                style="width: 500px; float: left;">
            <mat-form-field class="example-full-width form-auth-fields" appearance="fill">
              <mat-label style=""> Старый пароль </mat-label>
              <input matInput
                     name="oldPassword"
                     class="mask-phone"
                     formControlName="oldPassword"
                     required
                     [type]="hide ? 'password' : 'text'">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Должен содержать 8 символов, большу и маленькую букву латинского алфавита</mat-hint>
            </mat-form-field>
            <div style="margin-top: 55px">

            </div>
            <mat-form-field class="example-full-width form-auth-fields" appearance="fill">
              <mat-label style=""> Новый пароль </mat-label>
              <input matInput
                     name="newPassword"
                     class="mask-phone"
                     formControlName="newPassword"
                     required
                     [type]="hide2 ? 'password' : 'text'">
              <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Должен содержать 8 символов, большу и маленькую букву латинского алфавита</mat-hint>
            </mat-form-field>
            <div class="button-change">
              <button mat-raised-button color="primary"
                      type="button"
                      class="button-size"
                      (click)="changePassword()"
              >Изменить пароль</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-profile-history></app-profile-history>>
</div>
<app-footer></app-footer>


