<app-header></app-header>
<div class="block-bg-h" >
 <div class="card">
   <h1 class="title" style="margin-bottom: 10px; text-align: center"> <b>Доставка</b> </h1>
   <p class="txt">
   <br>Доставка в синюю зону бесплатная. В отдаленные районы города минимальная сумма заказа 700р  или +100р  к заказу
   <br>Наши точки:
   <br>г. Воронеж
   <br>ул. Московский проспект, 114В
   <br>ул. Ржевская улица, 11
   <br>ул. 20-летия Октября, 119A
   <br>т. 222-16-16
   </p>
   <br>
   <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4402527787b02994c1d976ea6cdbc0f39e8d5fb968e4f47b98c22c5ee3eefe08&amp;source=constructor" width="1120" height="500" frameborder="0"></iframe>
 </div>
</div>

<app-footer></app-footer>

